script(src='vendor/jquery/dist/jquery.min.js')
script(src='vendor/jquery-ui/jquery-ui.min.js')
script(src='js/jquery.mixitup.js')
script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyATHAjMLkN_lB6PxfpWsgJl4kBpdW6Utp0&callback=initMap', async='', defer='')
script(src='js/main.js')

