script(src='vendor/jquery/dist/jquery.min.js')
script(src='vendor/jquery-ui/jquery-ui.min.js')
script(src='vendor/bxslider-4/dist/jquery.bxslider.min.js')
script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBbiWDuTu93dbTnJpUDshix6zDZpMYVglc&callback=initMap', async, defer)
script(src='js/main.js')

