script(src='vendor/jquery/dist/jquery.min.js')
script(src='vendor/jquery-ui/jquery-ui.min.js')
script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyACrj-WawPhUlCxZyyK2Nt6a8ezDe1qw90', async, defer)
script(src='js/main.js')

