script(src='vendor/jquery/dist/jquery.min.js')
script(src='vendor/bxslider-4/dist/jquery.bxslider.min.js')
script(src='vendor/jquery-ui/jquery-ui.min.js')
//- script(async defer src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBhVagSYAMbyf6reB60CSgUQB6fy-bXNlw&callback=initMap')
script(src='js/main.js')
