.main-modal
	a#newsModalClose.close-btn(href="#")
		img(src="img/icons/ic_clear.svg", alt="")

	.scroll-holder
		.boards-hoolder
			ul.news-slider
				//- li
				//- 	.image-holder
				//- 		img.fake-img(src="img/images/board-1.jpg", alt="")
				//- 		.img(style='background-image: url(img/images/board-1.jpg)')
				//- 	.text-holder
				//- 		.description
				//- 			h5
				//- 				| бул. Шевченко / ул. Г. Сталинграда
				//- 			p
				//- 				|CrewInspector an online ship crew management system provider has been chosen by BachmannHR Group Ltd to integrate crewing process across the group of companies. Crewing software allows employees to maintain crew data, prepare crew employment contracts and share data easily with rest of the teams residing in different geographic locations at single access point without having any additional software to install. An overview of crew certificate expiry enables to keep the information up to date and to initiate any training activities for respective crew members as soon as required.
				//- li
				//- 	.image-holder
				//- 		img.fake-img(src="img/images/board-1.jpg", alt="")
				//- 		.img(style='background-image: url(img/images/board-1.jpg)')
				//- 	.text-holder
				//- 		.description
				//- 			h5
				//- 				| бул. Шевченко / ул. Г. Сталинграда
				//- 			p
				//- 				|CrewInspector an online ship crew management system provider has been chosen by BachmannHR Group Ltd to integrate crewing process across the group of companies. Crewing software allows employees to maintain crew data, prepare crew employment contracts and share data easily with rest of the teams residing in different geographic locations at single access point without having any additional software to install. An overview of crew certificate expiry enables to keep the information up to date and to initiate any training activities for respective crew members as soon as required.
				//- li
				//- 	.image-holder
				//- 		img.fake-img(src="img/images/board-1.jpg", alt="")
				//- 		.img(style='background-image: url(img/images/board-1.jpg)')
				//- 	.text-holder
				//- 		.description
				//- 			h5
				//- 				| бул. Шевченко / ул. Г. Сталинграда
				//- 			p
				//- 				|CrewInspector an online ship crew management system provider has been chosen by BachmannHR Group Ltd to integrate crewing process across the group of companies. Crewing software allows employees to maintain crew data, prepare crew employment contracts and share data easily with rest of the teams residing in different geographic locations at single access point without having any additional software to install. An overview of crew certificate expiry enables to keep the information up to date and to initiate any training activities for respective crew members as soon as required.
				//- li
				//- 	.image-holder
				//- 		img.fake-img(src="img/images/board-1.jpg", alt="")
				//- 		.img(style='background-image: url(img/images/board-1.jpg)')
				//- 	.text-holder
				//- 		.description
				//- 			h5
				//- 				| бул. Шевченко / ул. Г. Сталинграда
				//- 			p
				//- 				|CrewInspector an online ship crew management system provider has been chosen by BachmannHR Group Ltd to integrate crewing process across the group of companies. Crewing software allows employees to maintain crew data, prepare crew employment contracts and share data easily with rest of the teams residing in different geographic locations at single access point without having any additional software to install. An overview of crew certificate expiry enables to keep the information up to date and to initiate any training activities for respective crew members as soon as required.
					
				
			.like-boards
				h3 Похожие Борды  
				hr
				.related-holder.inline-holder
					.like-item.inline-el
						a.newsLink(href="#", dataslide='0')
							.image-holder
								img.fake-img(src="img/images/board-1.jpg", alt="")
								.img(style='background-image: url(img/images/board-1.jpg)')
							.tittle
								|бул. Шевченко / ул. Г. Сталинграда
					.like-item.inline-el
						a.newsLink(href="#", dataslide='1')
							.image-holder
								img.fake-img(src="img/images/board-1.jpg", alt="")
								.img(style='background-image: url(img/images/board-1.jpg)')
							.tittle
								|бул. Шевченко / ул. Г. Сталинграда
					.like-item.inline-el
						a.newsLink(href="#", dataslide='2')
							.image-holder
								img.fake-img(src="img/images/board-1.jpg", alt="")
								.img(style='background-image: url(img/images/board-1.jpg)')
							.tittle
								|бул. Шевченко / ул. Г. Сталинграда
					.like-item.inline-el
						a.newsLink(href="#", dataslide='3')
							.image-holder
								img.fake-img(src="img/images/board-1.jpg", alt="")
								.img(style='background-image: url(img/images/board-1.jpg)')
							.tittle
								|бул. Шевченко / ул. Г. Сталинграда
					.btn-holder
						a.button(href="#")
							.t-holder
								span к списку