.brand-holder
	a(href="/index.html")
		span brix.ck.ua
ul.main-nav-holder.inline-holder
	li.inline-el
		a(href="/boards.html" class='inline-el')
			span борды
	li.inline-el
		a(href="/transport-advertising.html" class='inline-el')
			span реклама в транспорте
	li.inline-el
		a(href="/baners-print.html" class='inline-el')
			span печать банеров
	li.inline-el
		a(href="/design.html" class='inline-el')
			span дизайн
	li.inline-el
		a(href="/design.html" class='inline-el')
			span промоакции