- var mainpage = true

//- //mixins//
mixin aboutitem(header, text)
	.inline-el
		h3.ellipsis-text= header
		p!= text

doctype html
html(lang='en')
	head
		title boards-filter

		include ./partials/head.jade

	body.spin-open

		section.top-line(style='background-image: url("img/images/footer-bg.jpg")')
			.brand-holder
				a(href="#")
					span brix.ck.ua
			ul.main-nav-holder.inline-holder
				li.inline-el
					a(href="#" class='callback-holder inline-el')
						span борды
				li.inline-el
					a(href="#" class='callback-holder inline-el')
						span реклама в транспорте
				li.inline-el
					a(href="#" class='callback-holder inline-el')
						span печать банеров
				li.inline-el
					a(href="#" class='callback-holder inline-el')
						span дизайн
				li.inline-el
					a(href="#" class='callback-holder inline-el')
						span промоакции
		
		section.boards
			.inline-holder
				.content.inline-el
					.filters-holder
						ul
							.slider-bg
							li
								.filters-item
									label(for="#side") Cторона:
									.select-holder
										select#side(name="side")
											option(value="", selected) выбрать
											option(value="a") a
											option(value="a1") a1
											option(value="a2") a2
											option(value="a3") a3
											option(value="b") b
								.filters-item
									label(for="#boardstype") Тип:
									.select-holder
										select#boardstype(name="boardstype")
											option(value="", selected) выбрать
											option(value="board") Борды
											option(value="prismatron") призматроны
							li
								.filters-item
									label(for="#street") Улица:
									.select-holder
										select#street(name="street")
											option(value="", selected) выбрать
											option(value="kresch") ул. Крещатик
											option(value="univers") ул. Университетская
											option(value="bul_shev") бул. Шевченко
											option(value="odess") ул. Одесская
											option(value="gagarina_55") ул. Гагарина,55
											option(value="lenin") ул.Ленина
											option(value="blagoves") ул. Благовесная
											option(value="pobed_30") ул. 30 лет Победы
											option(value="engels") ул. Энгельса
								.filters-item
									label(for="#rans") Раен:
									.select-holder
										select#rans(name="rans")
											option(value="", selected) выбрать
											option(value="uzr") ОЗР
											option(value="center") центральный
											option(value="kazbet") казбет
											option(value="rans_d") раен д
											option(value="mutniza") мытница
											option(value="himpass") Химпоселок
											option(value="lunachr") Луначарского
											option(value="700_let") 700-летия
											option(value="green") зеленая
											option(value="scooling") школьная
							li.slider
								.filters-item
									label(for="#price1") Цена:
									input#price1(type="text")
									input#price2(type="text")
									.slider-holder
										#price-slider
					
					.btn-holder
						a#clearFilters.button(href="#") фильтры (0)

					hr

					ul.boards-list.inline-holder
						

					ul.pagination
						li
							a(href="#") 1
						li
							a(href="#") 10
						li
							a.active(href="#") 15
						li
							a(href="#") 20
						li
							a(href="#") 25
						li
							a(href="#") 30

				.map-holder.inline-el
					#map




	






		#spiner
			.sp-bg
			i.fa.fa-refresh(aria-hidden="true")

		include ./partials/footer.jade
		include ./partials/slider-modal.jade





		include ./partials/scripts.jade
